
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
 
  --color-white: #FFFFFF;

  --color-gray100: #f3f6ff;
  --color-gray200: #EFF2FC;
  --color-gray300: #E2E5F1;
  --color-gray400: #D4D7E5;
  --color-gray500: #B4B7C9;
  --color-gray600: #9397AD; /*Grå*/
  --color-gray700: #565973;
  --color-gray800: #33354D;
  --color-gray900: #0B0F19; /*Dark*/

  --color-blue: #4C82F7;
  --color-yellow: #FFBA08;
  --color-green: #22C55E;
  --color-red: #EF4444;


  
  --color-primary: #6366F1;
  --container-padding: 1rem;
  --transition-time: all 0.2s;
}



* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header,footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 80%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}





  .container-header {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    padding-top: var(--container-padding);
    padding-bottom: var(--container-padding);
  
    margin-left: auto;
    margin-right: auto;
  }
  


a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-gray600);
  text-decoration: underline;
}



/* ----------FEATURES länk------------  */

.navbar {
  display: none;
}


.nav-link {
  color: var(--color-gray900);
  font-weight: 600;
  text-decoration: none;

}

.nav-link:hover {
  color: var(--color-primary);
  text-decoration: underline;

}

.active {
  color: var(--color-primary);
  text-decoration: underline;
}



/* start TOGGLE SWITCH  */


.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px; 
}


.btn-toggle-switch .label {
  display: none;
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.toggle-switch input{
  opacity: 0;
}

.toggle-switch input:checked + .slider {
  background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(18px);
  background-color: var(--color-gray600);
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0 ;
  background-color: var(--color-gray600);
  transition: all 0.2s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--color-white);
  transition: all 0.2s;
}

/*Gör switchen rundad*/
.toggle-switch .slider.round {
  border-radius: 35px;
}

/* Gör knappen inne i switchen rund */
.toggle-switch .slider.round:before {
  border-radius: 50%;
  }

/* ----SLUT----Toggle switch-----*/


/* -------START SIGN-IN BUTTON-----*/

#auth-signin {
  display: none;
}


.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center; /*centrera text på knappen,bredden*/
  align-items: center; /*centrera text på knappen,höjden*/
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--color-gray600) ;
  color: var(--color-white);
  text-decoration: none;
}

.btn-primary i {
  margin-right: 0.5rem;
}



.btn-downloadapp {
  background-color: var(--color-gray900);
  color: var(--color-white);
  border-radius: 10px;
  padding: 12px 25px;
  display: flex;
  justify-content: center; /*centrera text på knappen, bredden*/
  align-items: center; /*centrera text på knappen, höjden*/
  text-decoration: none;
}

.btn-downloadapp:hover {
  background-color: var(--color-primary) ;
  color: var(--color-white);
  text-decoration: none;
}

.btn-downloadapp i {
  margin-right: 0.5rem;
}

 /* ------SLUT SIGN-IN BUTTON-------*/

 header .container-header {
  display: grid;
  align-items: center;
  grid-template-columns:  1fr auto auto;
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
 }

  /* ------SLUT HEADER-------*/











/* ----START HERO SECTION-----*/

/*----LOGOBOX START----*/

#brands {
  display: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  }

  .logobox {
    border: 1px solid var(--color-gray300);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex; /* Justerar loggan i rutan*/
    justify-content: center;
    align-items: center;

}






/* Min Footer

.footer {
  color: var(--color-gray600);
  display: flex;
  justify-content: center;
 

}
  */

  /* Hans footer */
  footer {
    font-size: 14px;
    color: var(--color-gray600);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .credit {
    display: none;
    
    }
  }




  
 /* ----- RESPONSIV ----- */


 @media (min-width: 768px) {

  .container-header { 
    max-width: 720px;
  }

  .btn-toggle-switch .label {
    display: block;
  }

  header .container-header {
    gap: 3rem;
   }

   
   #brands {
    display: block;
     #logo-5, #logo-6{
      display: none;
     
      }
    
    }

    

    footer {
    .credit {
    display: block;

    
        }
      }

}




@media (min-width: 1400px) {

  .container-header { 
    max-width: 1320px;
  }
 
    header .container-header {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
   }

   .navbar {
    display: block;
   }

    #auth-signin {
    display: block;
    } 

    .btn-mobile {
      display:  none;
     }

     #brands {

      #logo-1, #logo-2, #logo-3, #logo-4, #logo-5, #logo-6 {
      display: flex;
      }
    
      }
       
      }
  
     
     /*
     #logo-1, #logo-2 {
      display: flex;
      justify-content: space-between;
      
      }
      */
    




}
 
 